<!-- <div *ngFor="let movie of nickCageMovies">
    {{movie.title}}
</div> -->
<mat-tab-group>
  <mat-tab label="Nick Cage's Movies">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="0 0 75%">
        <p>Filter the <span class="code-span"><code>actor's endpoint</code></span> and return an object containing
          every entry where <i>Nicolas Cage's </i>
          <span class="code-span"><code>actorId</code></span>
          appears.</p>

        <label for=""><b>Crucial Code:</b></label>
        <span class="quick-glance">See console.log for quick glance.</span>
        <mat-card><code>
            <div>this.nickCageMovies = _.filter(this.movies, ['actors', this.nickId]);</div>
          </code></mat-card>

        <mat-table [dataSource]="nickCageMovies" class="mat-elevation-z8">

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Nicolas Cage Movie Titles </mat-header-cell>
            <mat-cell *matCellDef="let nick"> {{nick.title}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="movieId">
            <mat-header-cell *matHeaderCellDef> Nicolas Cage Movie IDs </mat-header-cell>
            <mat-cell *matCellDef="let nick"> {{nick.movieId}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="movieColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: movieColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Keanu Reeve's Movies">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="0 0 75%">
        <p>Filter the <span class="code-span"><code>actor's endpoint</code></span> and return an object containing
          every entry where <i>Keanu Reeve's </i>
          <span class="code-span"><code>actorId</code></span>
          appears.</p>

        <label for=""><b>Crucial Code:</b></label>
        <span class="quick-glance">See console.log for quick glance.</span>
        <mat-card><code>this.keanuReevesMovies = _.filter(this.movies, ['actors', this.keanuId]);</code></mat-card>
        <mat-table [dataSource]="keanuReevesMovies" class="mat-elevation-z8">

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Keanu Reeve's Movie Titles </mat-header-cell>
            <mat-cell *matCellDef="let keanu"> {{keanu.title}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="movieId">
            <mat-header-cell *matHeaderCellDef> Keanu Reeve's Movie IDs </mat-header-cell>
            <mat-cell *matCellDef="let keanu"> {{keanu.movieId}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="movieColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: movieColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Actors in Both's Movies
    </ng-template>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="0 0 75%">
        <p>Create a new object containing the actors who've played in movies with <i>Nicolas Cage</i> and <i>Keanu</i>.</p>
        <label for=""><b>Crucial Code:</b></label>
        <span class="quick-glance">See console.log for quick glance.</span>
        <mat-card><code>this.nickAndKeanuMoviesWithNames =
            _(this.actors).keyBy('actorId').at(this.nickAndKeanuMovies).value();</code></mat-card>
        <mat-table [dataSource]="nickAndKeanuMoviesWithNames" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Actor Names </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{result.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="actorId">
            <mat-header-cell *matHeaderCellDef> Actor IDs </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{result.actorId}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="bothMovieColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: bothMovieColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <i class="material-icons star">star_rate</i> Actors in Both's Movies (Detailed) <i class="material-icons star">star_rate</i>
    </ng-template>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="0 0 75%">
        <p>Create a new object containing the actors who've played in movies with <i>Nicolas Cage</i> and <i>Keanu</i>.</p>
        <label for=""><b>Crucial Code:</b></label>
        <span class="quick-glance">See console.log for quick glance.</span>
        <mat-card><code>this.nickAndKeanuMoviesWithNames =
            _(this.actors).keyBy('actorId').at(this.nickAndKeanuMovies).value();</code></mat-card>
        <mat-table [dataSource]="displayResult" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Actor Names </mat-header-cell>
            <mat-cell *matCellDef="let answer"> {{answer.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="KRMovies">
            <mat-header-cell *matHeaderCellDef> Keanu Reeves Movies </mat-header-cell>
            <mat-cell *matCellDef="let answer"> {{answer.KRMovies}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="NCMovies">
            <mat-header-cell *matHeaderCellDef> Nick Cage Movies </mat-header-cell>
            <mat-cell *matCellDef="let answer"> {{answer.NCMovies}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="actorsBothMoviesColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: actorsBothMoviesColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>