/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    background-color: #f6f9ff;
}

mat-table {
    margin: 25px 0;
}

mat-card {
    margin: 10px 0 25px;
    background-color: #e9eaff !important;
}

mat-tab-body {
    text-align: left;    
}
mat-tab-header {
    background-color: white;
}
span {
    &.code-span {
        font-size: 1.2rem;
        background-color: #d8d9ff;
        border-radius: 5px;
        display: inline-flex;
        overflow: overlay;
        padding: 0 5px;
        color: black;
    }
}

span {
    &.quick-glance {
        display: block;
        font-style: italic;
        font-size: .85rem;
        font-weight: 400;
    }
}

.material-icons {
    &.star {
        color: #673ab7;
        width: 24px !important;
    }
}